body::before {
  display: block;
  content: '';
  height: 10vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  height: 10vh;
  z-index: 999;
}

.nav--title {
  color: #fff;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
}

.nav--normal {
  box-shadow: 0 0 0 1px #333;
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
}

.nav--logo {
  width: 1.3em;
  margin-right: 0.1em;
}

.menu--page {
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
}

.menu { 
  z-index: 10;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.85);
  top: 10vh;
  width: 100vw;
  height: 90vh;
  padding-inline: 1em;
  color: #adadad;
}

.menu--item {
  margin: 0;
}

.menu--item-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-block: 10px;
  padding-inline: 15px;
  gap: 10px;
}

.menu--item-cell img {
  width: 1em;
}

.content {
  padding: 1.5em;
}

.content h2 {
  font-weight: 700;
}

.news--actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.news-article {
  transition: all 0.3s;
  width: 100%;
  height: 22vh;
  margin-block: 1em;
  border: 1px solid #333;
  border-radius: 10px;
  display: grid; 
  grid-auto-columns: 3fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "image info info"; 
    overflow: hidden;
  user-select: none;
}

.news-article:hover {
  border: 1px solid #555;
}

.article-info {
  grid-area: info;
  padding: 1em;
  line-height: 1;
  max-height: 20vh;
  margin: 0;
}

.article-info {
  margin-bottom: 0.5em;
}

.article-info p {
  padding: 0;
  color: #444;
  line-height: 1;
  height: 10vh;
  text-overflow: ellipsis;
}

.article-image {
  object-fit: fill;
}

.article-image img {
  height: 20vh;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.fadein {
  -webkit-animation: fadeIn 200ms ease;
  animation: fadeIn 200ms ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn{
  0% {
  transform: translate3d(0, 0.375rem, 0);
  opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadedown {
  -webkit-animation: fadeIn 200ms ease;
  animation: fadeDown 200ms ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeDown{
  0% {
  transform: translate3d(0, -1rem, 0);
  opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
